@font-face {
  font-family: 'demo';
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-icon=zlk]:before {
  content: '\f00ca';
  font-family: demo;
}
*[data-icon=zlk][icon-pos=top]:before {
  display: block;
  content: '\f00ca';
  font-family: demo;
}
*[data-icon=zlk][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=zlk][icon-pos=right]:after {
  content: '\f00ca';
  font-family: demo;
}
*[data-icon=zlk][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=zlk][icon-pos=bottom]:after {
  content: '\f00ca';
  font-family: demo;
  display: block;
}
*[data-icon=message]:before {
  content: '\e6f5';
  font-family: demo;
}
*[data-icon=message][icon-pos=top]:before {
  display: block;
  content: '\e6f5';
  font-family: demo;
}
*[data-icon=message][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=message][icon-pos=right]:after {
  content: '\e6f5';
  font-family: demo;
}
*[data-icon=message][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=message][icon-pos=bottom]:after {
  content: '\e6f5';
  font-family: demo;
  display: block;
}
*[data-icon=yumao]:before {
  content: '\f00f5';
  font-family: demo;
}
*[data-icon=yumao][icon-pos=top]:before {
  display: block;
  content: '\f00f5';
  font-family: demo;
}
*[data-icon=yumao][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=yumao][icon-pos=right]:after {
  content: '\f00f5';
  font-family: demo;
}
*[data-icon=yumao][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=yumao][icon-pos=bottom]:after {
  content: '\f00f5';
  font-family: demo;
  display: block;
}
*[data-icon=shezhi]:before {
  content: '\f0015';
  font-family: demo;
}
*[data-icon=shezhi][icon-pos=top]:before {
  display: block;
  content: '\f0015';
  font-family: demo;
}
*[data-icon=shezhi][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=shezhi][icon-pos=right]:after {
  content: '\f0015';
  font-family: demo;
}
*[data-icon=shezhi][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=shezhi][icon-pos=bottom]:after {
  content: '\f0015';
  font-family: demo;
  display: block;
}
*[data-icon=fangdajing]:before {
  content: '\e62a';
  font-family: demo;
}
*[data-icon=fangdajing][icon-pos=top]:before {
  display: block;
  content: '\e62a';
  font-family: demo;
}
*[data-icon=fangdajing][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=fangdajing][icon-pos=right]:after {
  content: '\e62a';
  font-family: demo;
}
*[data-icon=fangdajing][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=fangdajing][icon-pos=bottom]:after {
  content: '\e62a';
  font-family: demo;
  display: block;
}
*[data-icon=book]:before {
  content: '\e69b';
  font-family: demo;
}
*[data-icon=book][icon-pos=top]:before {
  display: block;
  content: '\e69b';
  font-family: demo;
}
*[data-icon=book][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=book][icon-pos=right]:after {
  content: '\e69b';
  font-family: demo;
}
*[data-icon=book][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=book][icon-pos=bottom]:after {
  content: '\e69b';
  font-family: demo;
  display: block;
}
*[data-icon=daohang]:before {
  content: '\e608';
  font-family: demo;
}
*[data-icon=daohang][icon-pos=top]:before {
  display: block;
  content: '\e608';
  font-family: demo;
}
*[data-icon=daohang][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=daohang][icon-pos=right]:after {
  content: '\e608';
  font-family: demo;
}
*[data-icon=daohang][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=daohang][icon-pos=bottom]:after {
  content: '\e608';
  font-family: demo;
  display: block;
}
*[data-icon=she]:before {
  content: '\e600';
  font-family: demo;
}
*[data-icon=she][icon-pos=top]:before {
  display: block;
  content: '\e600';
  font-family: demo;
}
*[data-icon=she][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=she][icon-pos=right]:after {
  content: '\e600';
  font-family: demo;
}
*[data-icon=she][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=she][icon-pos=bottom]:after {
  content: '\e600';
  font-family: demo;
  display: block;
}
*[data-icon=jianpan]:before {
  content: '\e601';
  font-family: demo;
}
*[data-icon=jianpan][icon-pos=top]:before {
  display: block;
  content: '\e601';
  font-family: demo;
}
*[data-icon=jianpan][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=jianpan][icon-pos=right]:after {
  content: '\e601';
  font-family: demo;
}
*[data-icon=jianpan][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=jianpan][icon-pos=bottom]:after {
  content: '\e601';
  font-family: demo;
  display: block;
}
*[data-icon=puke]:before {
  content: '\e60a';
  font-family: demo;
}
*[data-icon=puke][icon-pos=top]:before {
  display: block;
  content: '\e60a';
  font-family: demo;
}
*[data-icon=puke][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=puke][icon-pos=right]:after {
  content: '\e60a';
  font-family: demo;
}
*[data-icon=puke][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=puke][icon-pos=bottom]:after {
  content: '\e60a';
  font-family: demo;
  display: block;
}
*[data-icon=yinyue]:before {
  content: '\e603';
  font-family: demo;
}
*[data-icon=yinyue][icon-pos=top]:before {
  display: block;
  content: '\e603';
  font-family: demo;
}
*[data-icon=yinyue][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=yinyue][icon-pos=right]:after {
  content: '\e603';
  font-family: demo;
}
*[data-icon=yinyue][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=yinyue][icon-pos=bottom]:after {
  content: '\e603';
  font-family: demo;
  display: block;
}
*[data-icon=rili]:before {
  content: '\e604';
  font-family: demo;
}
*[data-icon=rili][icon-pos=top]:before {
  display: block;
  content: '\e604';
  font-family: demo;
}
*[data-icon=rili][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=rili][icon-pos=right]:after {
  content: '\e604';
  font-family: demo;
}
*[data-icon=rili][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=rili][icon-pos=bottom]:after {
  content: '\e604';
  font-family: demo;
  display: block;
}
*[data-icon=tianmao]:before {
  content: '\e605';
  font-family: demo;
}
*[data-icon=tianmao][icon-pos=top]:before {
  display: block;
  content: '\e605';
  font-family: demo;
}
*[data-icon=tianmao][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=tianmao][icon-pos=right]:after {
  content: '\e605';
  font-family: demo;
}
*[data-icon=tianmao][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=tianmao][icon-pos=bottom]:after {
  content: '\e605';
  font-family: demo;
  display: block;
}
*[data-icon=jisuanqi]:before {
  content: '\e606';
  font-family: demo;
}
*[data-icon=jisuanqi][icon-pos=top]:before {
  display: block;
  content: '\e606';
  font-family: demo;
}
*[data-icon=jisuanqi][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=jisuanqi][icon-pos=right]:after {
  content: '\e606';
  font-family: demo;
}
*[data-icon=jisuanqi][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=jisuanqi][icon-pos=bottom]:after {
  content: '\e606';
  font-family: demo;
  display: block;
}
*[data-icon=xiaomi]:before {
  content: '\e607';
  font-family: demo;
}
*[data-icon=xiaomi][icon-pos=top]:before {
  display: block;
  content: '\e607';
  font-family: demo;
}
*[data-icon=xiaomi][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=xiaomi][icon-pos=right]:after {
  content: '\e607';
  font-family: demo;
}
*[data-icon=xiaomi][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=xiaomi][icon-pos=bottom]:after {
  content: '\e607';
  font-family: demo;
  display: block;
}
*[data-icon=wuziqi]:before {
  content: '\e609';
  font-family: demo;
}
*[data-icon=wuziqi][icon-pos=top]:before {
  display: block;
  content: '\e609';
  font-family: demo;
}
*[data-icon=wuziqi][icon-pos=right]:before {
  content: '';
  font-family: demo;
}
*[data-icon=wuziqi][icon-pos=right]:after {
  content: '\e609';
  font-family: demo;
}
*[data-icon=wuziqi][icon-pos=bottom]:before {
  content: '';
  font-family: demo;
  display: block;
}
*[data-icon=wuziqi][icon-pos=bottom]:after {
  content: '\e609';
  font-family: demo;
  display: block;
}
